body {
  font-family: Verdana, Helvetica, Arial, sans-serif;;
  font-size: 80%;
}

#DIV_CONTROL {
  width:  180px;
  height: 500px;
  font-size: 90%;
  padding-left: 5px;
}
#DIV_MAP {
  width:  600px;
  height: 500px;
  border: 1px solid black;
}
